/*
    COLORS
*/
$font-color: #333333;
$primary-color: rgba(203,150,244,1);
$secondary-color : rgba(231,143,225,1);

$btn-color: rgb(223, 100, 145);
$btn-color-shadow: rgba(223, 100, 145,0.5);

$shadow-color: rgba(0,0,0,0.2);
$bg-color : #FCF0F8;

/*
    MEDIA QUERIES
*/
$desktop : 992px;
$mobile : 320px;