/*
    COLORS
*/
$font-color: #333333;
$primary-color: #C51C1F;
$border-color: #141E26;
$secondary-color : #ff4757;
// $font-color: #2E2E2E;
// $primary-color: #D50F51;
// $secondary-color: #1C1C1C;
// $hover-color: #F27A8E;
// $border-color: #C20337;

$shadow-color: rgba(0,0,0,0.2);
$bg-color : white;

/*
    MEDIA QUERIES
*/
$desktop : 992px;
$mobile : 320px;