@import 'resets';
@import 'variables';
@import 'mixins';

@import 'board';
@import 'side';

/*
    GENERAL
*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: $bg-color;
}

@include mobile {

    #game {
        text-align: center;
        @include transition;
        padding-top: 50%;
    }

    .mainTitle {
        background: #101820;
        padding: 20px;
        h1 {
            color: white;
            text-transform: uppercase;
            letter-spacing: 20px;
            font-size: 2rem;
            @include transition
        }
    }

    .displayContainer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    
    .startBtn {
        padding: 12px 40px;
        background: $btn-color;
        border-radius: 5px;
        border: 0;
        color: $bg-color;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 18px;
        @include transition;
        color: white;
        font-weight: bold;

        &:hover {
            box-shadow: 0 7px 10px 0 $btn-color-shadow;
        }

    }
}

@include desktop {

    #game {
        padding-top: 15%;
        padding-bottom: 8%;
    }

    .mainTitle {
        h1 {
            font-size: 8rem;
        }
    }

    .displayContainer {
        flex-flow: row wrap;
        align-items: flex-start;
        padding-right: 15%;
    }
    
    .startBtn {
        transform: translateX(100px);
    }
}